/* Typography */
$base-font: 'source-sans-pro', sans-serif !default;
$heading-font: $base-font !default;
$caption-font: $base-font !default;
$code-font: 'source-code-pro', monospace !default;
$alt-font: 'volkhov', serif !default;

$doc-font-size: 16 !default;
$doc-line-height: 24 !default;

/* Colors */
$body-color: #fff !default;
$text-color: #222 !default;
$base-color: #343434 !default;
$comp-color: adjust-hue($base-color, 180) !default;
$border-color: #ddd !default;
$white: #fff !default;
$black: #000 !default;
$accent-color: $black !default;
$link-color: #222 !default;

/* Tables */
$table-border-color: $border-color !default;
$table-border: 1px solid $table-border-color !default;
$table-background: $body-color !default;
$table-header-color: lighten($table-background, 10) !default;
$table-hover-color: darken($table-background, 2) !default;
$table-stripe-color: darken($table-background, 4) !default;
$table-stripe-color-hover: darken($table-stripe-color, 5) !default;

/* Media Queries */
$micro: "only screen and (min-width: 30em)" !default;
$small: "only screen and (min-width: 37.5em)" !default;
$medium: "only screen and (min-width: 48em)" !default;
$large: "only screen and (min-width: 62em)" !default;
$x-large: "only screen and (min-width: 86.375em)" !default;

/* Brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$github-color: #171516 !default;
$google-plus-color: #dd4b39 !default;
$instagram-color: #517fa4 !default;
$linkedin-color: #007bb6 !default;
$pinterest-color: #cb2027 !default;
$rss-color: #fa9b39 !default;
$twitter-color: #55acee !default;
$youtube-color: #bb0000 !default;

/* Border radius */
$border-radius: 3px !default;

/* Global transition */
$global-transition: all 0.4s ease !default;

/* Site dimensions */
$site-logo-width: 75px !default;
$site-logo-height: 75px !default;
$main-max-width: $medium !default;
$main-sidebar-max-width: $large !default;

// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}
